<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BK.Models.Properties.Settings.www_bkcoding_comConnectionString"
            connectionString="Data Source=119.29.155.214;Initial Catalog=blog.bkcoding.com;Persist Security Info=True;User ID=sa;Password=SqlSa1314.98"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>