
@{
    Layout = null;
}
{{# for(var i=0,len=d.length;i<len;i++){ }}
<div class="article shadow">
    <div class="article-left">
        <img src="{{ d[i].img }}" alt="{{ d[i].title }}" width="185" height="128" />
    </div>
    <div class="article-right">
        <div class="article-title">
            <a href="{{ d[i].url }}">{{ d[i].title }}</a>
        </div>
        <div class="article-abstract">
            {{ d[i].abstract }}
        </div>
    </div>
    <div class="clear"></div>
    <div class="article-footer">
        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ d[i].createTime }}</span>
        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ d[i].writer }}</span>
        <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ d[i].tag }}</a></span>
        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ d[i].readCount }}</span>
        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ d[i].commentCount }}</span>
    </div>
</div>
{{# } }}
<latestPosts></latestPosts>
