

body {
    background: #eee;
    color: #444;
}

.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}

.logo {
    float: left;
    left: 0;
    margin-top: 16px;
    margin-right: 5px;
    color: #eee;
    font-size: 30px;
    font-weight: bold;
    font-family: KaiTi;
}

.header .layui-nav {
    top: 0;
    padding: 0;
    background: none;
}

@media (min-width:768px) {
    .container {
        width: auto
    }
}

@media (min-width:992px) {
    .container {
        width: auto
    }
}

@media (min-width:1200px) {
    .container {
        width: auto
    }
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
    margin-top: 30px;
}

.content-wrap {
    width: 100%;
    float: left;
}

.content {
    position: relative;
    min-height: 500px;
    margin-right: 380px;
    margin-bottom: 15px;
    width: auto;
}

.excerpt {
    border: 1px solid #eaeaea;
    padding: 20px 20px 20px 255px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 10px;
}

    .excerpt .post-linkto {
        text-align: right;
    }

.excerpt-text {
    padding-left: 20px;
}

.excerpt-1 {
    border-radius: 4px 4px 0 0
}

.excerpt-10 {
    border-radius: 0 0 4px 4px
}

.excerpt:hover {
    background-color: #f9f9f9;
    position: relative;
    z-index: 2;
}

.excerpt .focus {
    float: left;
    margin-left: -235px;
    width: 220px;
}

.excerpt .thumb {
    width: 220px;
    height: 150px;
}

.excerpt header {
    margin-bottom: 10px;
}

.excerpt .cat {
    color: #fff;
    background-color: #45BCF9;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px;
}

    .excerpt .cat:hover {
        opacity: 0.85;
        filter: alpha(opacity=85);
    }

    .excerpt .cat i {
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: -4px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 4px solid #45BCF9;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

.excerpt h2 {
    display: inline;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    font-weight: bold;
}

    .excerpt h2 a {
        color: #555;
    }

        .excerpt h2 a:hover {
            color: #45B6F7;
        }

.excerpt time, .excerpt .pv, .excerpt .pc, .excerpt .author {
    margin-right: 20px;
}

.excerpt .note {
    font-size: 12px;
    color: #999;
    word-wrap: break-word;
    line-height: 20px;
}

.excerpt .meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
}

    .excerpt .meta .fa {
        margin-right: 4px;
    }

    .excerpt .meta a {
        color: #999;
        text-decoration: underline;
    }

        .excerpt .meta a:hover {
            color: #45B6F7;
        }

.excerpt h2 b,
.excerpt .note b {
    color: #FF5549;
}

.excerpt .note b {
    font-weight: normal;
}

.excerpt-minic {
    border: 1px solid #eaeaea;
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 4px;
}

    .excerpt-minic h2 {
        font-size: 22px;
        line-height: 24px;
        margin-top: 0;
        font-weight: bold;
        margin: 0 0 15px;
    }

        .excerpt-minic h2 a {
            color: #555;
        }

            .excerpt-minic h2 a:hover {
                color: #45B6F7;
            }

    .excerpt-minic time, .excerpt-minic .pv, .excerpt-minic .pc, .excerpt-minic .author {
        margin-right: 20px;
    }

    .excerpt-minic .meta {
        color: #999;
        margin-bottom: 15px;
        font-size: 12px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eaeaea;
    }

        .excerpt-minic .meta .fa {
            margin-right: 4px;
        }

        .excerpt-minic .meta a {
            color: #999;
            text-decoration: underline;
        }

            .excerpt-minic .meta a:hover {
                color: #45B6F7;
            }

    .excerpt-minic .article-content p {
        text-indent: 30px;
    }

        .excerpt-minic .article-content p:last-child {
            margin-bottom: 0;
        }

    .excerpt-minic .note {
        color: #666;
        margin-bottom: 0;
        text-indent: 28px;
    }

.excerpt-minic-index h2 {
    font-size: 18px;
}

.excerpt-minic-index .meta {
    border-bottom: none;
    padding-bottom: 0;
}

.excerpt-minic-index .red {
    margin-left: -8px;
    color: #FF5E52;
}

/*右侧窗口小部件（网站首页和文章列表以及文章详细共用）*/
.sidebar {
    float: left;
    margin-left: -360px;
    width: 360px;
    position: relative;
}

.widget {
    clear: both;
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    overflow: hidden;
}

    .widget .fa {
        margin-right: 3px;
    }

    .widget > .widget-title {
        font-size: 18px;
        color: white;
        border-bottom: 1px solid #eaeaea;
        background-color: #3d4450;
        margin: 0;
        padding: 11px 15px 10px;
    }

    .widget ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
    }

    .widget li:hover {
        background-color: #eee;
        z-index: 2;
    }

    .widget ul .fa {
        margin: 3px 0;
    }

    .widget li a {
        padding: 10px 15px;
        color: #888;
        border-bottom: solid 1px #eee;
        overflow: hidden;
        position: relative;
        display: block;
        font-size: 14px;
    }

    .widget li .text:hover {
        color: #45B6F7;
    }

    .widget ul .text {
        margin-top: 0;
        margin-bottom: 3px;
        color: #888;
        display: block;
    }

    .widget ul .muted {
        margin-right: 15px;
        font-size: 12px;
        color: #bbb;
    }

/*右侧模块END*/
.footer {
    position: relative;
    z-index: 9;
    clear: both;
    padding: 40px 30px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    background-color: #393D49;
    border-top: 1px solid #eaeaea;
}

    .footer a {
        color: #fff;
    }

        .footer a:hover {
            color: #eaeaea;
        }

    .footer p {
        padding-top: 5px;
    }
