

body {
    background: #eee;
    color: #444;
}

.layui-fluid {
    padding: 0 !important;
}

.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}

.logo {
    float: left;
    left: 0;
    margin-top: 14px;
}

.component {
    position: absolute;
    width: 200px;
    top: 16px;
    right: 0;
}

    .component .layui-input {
        height: 30px;
        padding-left: 12px;
        background-color: #424652;
        background-color: rgba(255,255,255,.05);
        border: none 0;
        color: #fff;
        font-size: 12px;
    }

.header .layui-nav {
    top: 0;
    padding: 0;
    background: none;
}

.layui-nav .layui-this:after {
    background-color: #393D49;
}
/*导航皮肤               */
.layui-bg-blue {
    color: #fff !important;
    background-color: #1E9FFF !important;
}

    .layui-bg-blue .layui-nav-bar, .layui-bg-blue .layui-nav-itemed:after, .layui-bg-blue .layui-this:after {
        background-color: #93D1FF;
    }

    .layui-bg-blue .layui-nav-child dd.layui-this {
        background-color: #1E9FFF;
    }

    .layui-bg-blue .layui-nav-itemed > a, .layui-nav-tree.layui-bg-blue .layui-nav-title a, .layui-nav-tree.layui-bg-blue .layui-nav-title a:hover {
        background-color: #007DDB !important;
    }
/*导航皮肤               */
@media (min-width:768px) {
    .container {
        width: auto;
    }
}

@media (min-width:992px) {
    .container {
        width: auto;
    }
}

@media (min-width:1200px) {
    .container {
        width: auto;
    }
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
    margin-top: 30px;
}

.layui-quote-notice {
    border: none;
    border-radius: 0;
    background-color: #fff;
    padding: 10px;
    line-height: 12px;
}

    .layui-quote-notice span {
        color: #FF5E52;
    }

    .layui-quote-notice i {
        color: #009688;
    }

.content-wrap {
    width: 100%;
    float: left;
}



.content {
    position: relative;
    min-height: 500px;
    margin-right: 380px;
    margin-bottom: 15px;
    width: auto;
}

.excerpt {
    border: 1px solid #eaeaea;
    padding: 20px 20px 20px 255px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 10px;
}

    .excerpt .post-linkto {
        text-align: right;
    }

.excerpt-text {
    padding-left: 20px;
}

.excerpt-1 {
    border-radius: 4px 4px 0 0;
}

.excerpt-10 {
    border-radius: 0 0 4px 4px;
}

.excerpt:hover {
    background-color: #f9f9f9;
    position: relative;
    z-index: 2;
}

.excerpt .focus {
    float: left;
    margin-left: -235px;
    width: 220px;
}

.excerpt .thumb {
    width: 220px;
    height: 150px;
}

.excerpt header {
    margin-bottom: 10px;
}

.excerpt .cat {
    color: #fff;
    background-color: #45BCF9;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px;
}

    .excerpt .cat:hover {
        opacity: 0.85;
        filter: alpha(opacity=85);
    }

    .excerpt .cat i {
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: -4px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 4px solid #45BCF9;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

.excerpt h2 {
    display: inline;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    font-weight: bold;
}

    .excerpt h2 a {
        color: #555;
    }

        .excerpt h2 a:hover {
            color: #45B6F7;
        }

.excerpt time, .excerpt .pv, .excerpt .pc, .excerpt .author {
    margin-right: 20px;
}

.excerpt .note {
    font-size: 12px;
    color: #999;
    word-wrap: break-word;
    line-height: 20px;
}

.excerpt .meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
}

    .excerpt .meta .fa {
        margin-right: 4px;
    }

    .excerpt .meta a {
        color: #999;
        text-decoration: underline;
    }

        .excerpt .meta a:hover {
            color: #45B6F7;
        }

.excerpt h2 b,
.excerpt .note b {
    color: #FF5549;
}

.excerpt .note b {
    font-weight: normal;
}

.excerpt-minic {
    border: 1px solid #eaeaea;
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 4px;
}

    .excerpt-minic h2 {
        font-size: 22px;
        line-height: 24px;
        margin-top: 0;
        font-weight: bold;
        margin: 0 0 15px;
    }

        .excerpt-minic h2 a {
            color: #555;
        }

            .excerpt-minic h2 a:hover {
                color: #45B6F7;
            }

    .excerpt-minic time, .excerpt-minic .pv, .excerpt-minic .pc, .excerpt-minic .author {
        margin-right: 20px;
    }

    .excerpt-minic .meta {
        color: #999;
        margin-bottom: 15px;
        font-size: 12px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eaeaea;
    }

        .excerpt-minic .meta .fa {
            margin-right: 4px;
        }

        .excerpt-minic .meta a {
            color: #999;
            text-decoration: underline;
        }

            .excerpt-minic .meta a:hover {
                color: #45B6F7;
            }

    .excerpt-minic .article-content p {
        text-indent: 30px;
    }

        .excerpt-minic .article-content p:last-child {
            margin-bottom: 0;
        }

    .excerpt-minic .note {
        color: #666;
        margin-bottom: 0;
        text-indent: 28px;
    }

.excerpt-minic-index h2 {
    font-size: 18px;
}

.excerpt-minic-index .meta {
    border-bottom: none;
    padding-bottom: 0;
}

.excerpt-minic-index .red {
    margin-left: -8px;
    color: #FF5E52;
}

/*右侧窗口小部件（网站首页和文章列表以及文章详细共用）*/
.sidebar {
    float: left;
    margin-left: -360px;
    width: 360px;
    position: relative;
}

.widget {
    clear: both;
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    overflow: hidden;
}

    .widget .fa {
        margin-right: 3px;
    }

    .widget > .widget-title {
        font-size: 18px;
        color: white;
        border-bottom: 1px solid #eaeaea;
        background-color: #3d4450;
        margin: 0;
        padding: 11px 15px 10px;
    }

    .widget ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
    }

        .widget ul .fa {
            margin: 3px 0;
        }

        .widget ul .text {
            margin-top: 0;
            margin-bottom: 3px;
            color: #555;
            display: block;
        }

        .widget ul .muted {
            margin-right: 15px;
            font-size: 12px;
            color: #bbb;
        }

    .widget li:hover {
        background-color: #f9f9f9;
        z-index: 2;
    }

        .widget li:hover .text {
            color: #01AAED;
        }

    .widget li a {
        padding: 10px 15px;
        color: #888;
        border-bottom: solid 1px #eee;
        overflow: hidden;
        position: relative;
        display: block;
        font-size: 14px;
    }



/*=================================
*======= Proflie Sidebar ========
*===============================*/

.my-profile .profile-bg {
    position: relative;
}

    .my-profile .profile-bg .profile-img {
        position: absolute;
        bottom: -45px;
        left: 50%;
        margin-left: -45px;
    }

        .my-profile .profile-bg .profile-img img {
            width: 90px;
            height: 90px;
            border-radius: 90px;
        }

.my-profile .profile-desc {
    padding: 40px 30px 15px 30px;
    text-align: center;
    color: #898989;
}

    .my-profile .profile-desc p {
        padding-top: 20px;
        margin: 0;
        display: block;
    }

/* social share */

.social-share ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
    width: 100%;
}

    .social-share ul li {
        display: table-cell;
        width: 1%;
    }

        .social-share ul li a {
            display: block;
            height: 40px;
            /*line-height: 55px;*/
            text-align: center;
            font-size: 25px;
            color: #fff;
        }

            .social-share ul li a:hover {
                background-color: #fff;
            }

            .social-share ul li a i {
                color: #393D49;
            }

        .social-share ul li .fa {
            margin: 0;
        }

/*.social-share ul li a.envelope{
	background: #4e7bc0;
}
.social-share ul li a.twitter{
	background: #00bff3;
}
.social-share ul li a.g-plus{
	background: #f4615e;
}
.social-share ul li a.linkedin{
	background: #075a94;
}*/


/*.social-share ul li a.stumbleupon{
	background: #D60000;
}
.social-share ul li a.envelope:hover{
	background: #3D629B;
}
.social-share ul li a.twitter:hover{
	background: #00A7D5;
}
.social-share ul li a.g-plus:hover{
	background: #D44E4B;
}
.social-share ul li a.linkedin:hover{
	background: #054979;
}*/

/*-------------------------
	The clocks
--------------------------*/


#clock {
    width: 280px;
    padding: 40px;
    position: relative;
}

    #clock:after {
        content: '';
        position: absolute;
        width: 240px;
        height: 20px;
        border-radius: 100%;
        left: 50%;
        margin-left: -200px;
        bottom: 2px;
        z-index: -1;
    }


    #clock .display {
        text-align: center;
        padding: 40px 20px 20px;
        border-radius: 6px;
        position: relative;
        height: 46px;
    }


    /*-------------------------
	Light color theme
--------------------------*/


    #clock.light {
        background-color: #f3f3f3;
        color: #272e38;
    }

        #clock.light:after {
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        }

        #clock.light .digits div span {
            background-color: #272e38;
            border-color: #272e38;
        }

        #clock.light .digits div.dots:before,
        #clock.light .digits div.dots:after {
            background-color: #272e38;
        }

        #clock.light .alarm {
            background: url('../img/alarm_light.jpg');
        }

        #clock.light .display {
            background-color: #dddddd;
            box-shadow: 0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
        }


    /*-------------------------
	Dark color theme
--------------------------*/


    #clock.dark {
        background-color: #272e38;
        color: #cacaca;
    }

        #clock.dark:after {
            box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        }

        #clock.dark .digits div span {
            background-color: #cacaca;
            border-color: #cacaca;
        }

        #clock.dark .alarm {
            background: url('../img/alarm_dark.jpg');
        }

        #clock.dark .display {
            background-color: #0f1620;
            box-shadow: 0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
        }

        #clock.dark .digits div.dots:before,
        #clock.dark .digits div.dots:after {
            background-color: #cacaca;
        }

    /*-------------------------
	The Digits
--------------------------*/


    #clock .digits div {
        text-align: left;
        position: relative;
        width: 28px;
        height: 50px;
        display: inline-block;
        margin: 0 2px;
    }

        #clock .digits div span {
            opacity: 0;
            position: absolute;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            transition: 0.25s;
        }

            #clock .digits div span:before,
            #clock .digits div span:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 5px solid transparent;
            }

    #clock .digits .d1 {
        height: 5px;
        wi;
        width: 10px;
        p: 0;
        left: 6px;
    }

        #clock .digits .d1:before {
            border-width: 0 5px 5px 0;
            border-right-color: inherit;
            left: -5px;
        }

        #clock .digits .d1:after {
            border-width: 0 0 5px 5px;
            border-left-color: inherit;
            right: -5px;
        }

    #clock .digits .d2 {
        height: 5px;
        width: 8px;
        top: 16px;
        left: 6px;
    }

        #clock .digits .d2:before {
            border-width: 3px 4px 2px;
            border-right-color: inherit;
            left: -8px;
        }

        #clock .digits .d2:after {
            border-width: 3px 4px 2px;
            border-left-color: inherit;
            right: -8px;
        }

    #clock .digits .d3 {
        height: 5px;
        width: 10px;
        top: 34px;
        left: 6px;
    }

        #clock .digits .d3:before {
            border-width: 5px 5px 0 0;
            border-right-color: inherit;
            left: -5px;
        }

        #clock .digits .d3:after {
            border-width: 5px 0 0 5px;
            border-left-color: inherit;
            right: -5px;
        }

    #clock .digits .d4 {
        width: 5px;
        height: 10px;
        top: 5px;
        left: 0;
    }

        #clock .digits .d4:before {
            border-width: 0 5px 5px 0;
            border-bottom-color: inherit;
            top: -5px;
        }

        #clock .digits .d4:after {
            border-width: 0 0 5px 5px;
            border-left-color: inherit;
            bottom: -5px;
        }

    #clock .digits .d5 {
        width: 5px;
        height: 10px;
        top: 5px;
        right: 6px;
    }

        #clock .digits .d5:before {
            border-width: 0 0 5px 5px;
            border-bottom-color: inherit;
            top: -5px;
        }

        #clock .digits .d5:after {
            border-width: 5px 0 0 5px;
            border-top-color: inherit;
            bottom: -5px;
        }

    #clock .digits .d6 {
        width: 5px;
        height: 10px;
        top: 24px;
        left: 0;
    }

        #clock .digits .d6:before {
            border-width: 0 5px 5px 0;
            border-bottom-color: inherit;
            top: -5px;
        }

        #clock .digits .d6:after {
            border-width: 0 0 5px 5px;
            border-left-color: inherit;
            bottom: -5px;
        }

    #clock .digits .d7 {
        width: 5px;
        height: 10px;
        top: 24px;
        right: 6px;
    }

        #clock .digits .d7:before {
            border-width: 0 0 5px 5px;
            border-bottom-color: inherit;
            top: -5px;
        }

        #clock .digits .d7:after {
            border-width: 5px 0 0 5px;
            border-top-color: inherit;
            bottom: -5px;
        }



    /* 1 */

    #clock .digits div.one .d5,
    #clock .digits div.one .d7 {
        opacity: 1;
    }

    /* 2 */

    #clock .digits div.two .d1,
    #clock .digits div.two .d5,
    #clock .digits div.two .d2,
    #clock .digits div.two .d6,
    #clock .digits div.two .d3 {
        opacity: 1;
    }

    /* 3 */

    #clock .digits div.three .d1,
    #clock .digits div.three .d5,
    #clock .digits div.three .d2,
    #clock .digits div.three .d7,
    #clock .digits div.three .d3 {
        opacity: 1;
    }

    /* 4 */

    #clock .digits div.four .d5,
    #clock .digits div.four .d2,
    #clock .digits div.four .d4,
    #clock .digits div.four .d7 {
        opacity: 1;
    }

    /* 5 */

    #clock .digits div.five .d1,
    #clock .digits div.five .d2,
    #clock .digits div.five .d4,
    #clock .digits div.five .d3,
    #clock .digits div.five .d7 {
        opacity: 1;
    }

    /* 6 */

    #clock .digits div.six .d1,
    #clock .digits div.six .d2,
    #clock .digits div.six .d4,
    #clock .digits div.six .d3,
    #clock .digits div.six .d6,
    #clock .digits div.six .d7 {
        opacity: 1;
    }


    /* 7 */

    #clock .digits div.seven .d1,
    #clock .digits div.seven .d5,
    #clock .digits div.seven .d7 {
        opacity: 1;
    }

    /* 8 */

    #clock .digits div.eight .d1,
    #clock .digits div.eight .d2,
    #clock .digits div.eight .d3,
    #clock .digits div.eight .d4,
    #clock .digits div.eight .d5,
    #clock .digits div.eight .d6,
    #clock .digits div.eight .d7 {
        opacity: 1;
    }

    /* 9 */

    #clock .digits div.nine .d1,
    #clock .digits div.nine .d2,
    #clock .digits div.nine .d3,
    #clock .digits div.nine .d4,
    #clock .digits div.nine .d5,
    #clock .digits div.nine .d7 {
        opacity: 1;
    }

    /* 0 */

    #clock .digits div.zero .d1,
    #clock .digits div.zero .d3,
    #clock .digits div.zero .d4,
    #clock .digits div.zero .d5,
    #clock .digits div.zero .d6,
    #clock .digits div.zero .d7 {
        opacity: 1;
    }


    /* The dots */

    #clock .digits div.dots {
        width: 5px;
    }

        #clock .digits div.dots:before,
        #clock .digits div.dots:after {
            width: 5px;
            height: 5px;
            content: '';
            position: absolute;
            left: 0;
            top: 14px;
        }

        #clock .digits div.dots:after {
            top: 34px;
        }


    /*-------------------------
	The Alarm
--------------------------*/


    #clock .alarm {
        width: 16px;
        height: 16px;
        bottom: 28px;
        left: 10px;
        background: url('../img/alarm_light.jpg');
        position: absolute;
        opacity: 0.2;
    }

        #clock .alarm.active {
            opacity: 1;
        }


    /*-------------------------
	Weekdays
--------------------------*/


    #clock .weekdays {
        font-size: 12px;
        position: absolute;
        width: 100%;
        top: 10px;
        left: 0;
        text-align: center;
    }


        #clock .weekdays span {
            opacity: 0.2;
            padding: 0 8px;
        }

            #clock .weekdays span.active {
                opacity: 1;
            }


    /*-------------------------
		AM/PM
--------------------------*/


    #clock .ampm {
        position: absolute;
        bottom: 28px;
        right: 16px;
        font-size: 10px;
    }

/*-------------------------
		Button
--------------------------*/


.button-holder {
    text-align: center;
    padding-bottom: 100px;
}

a.button {
    background-color: #f6a7b3;
    background-image: -webkit-linear-gradient(top, #f6a7b3, #f0a3af);
    background-image: -moz-linear-gradient(top, #f6a7b3, #f0a3af);
    background-image: linear-gradient(top, #f6a7b3, #f0a3af);
    border: 1px solid #eb9ba7;
    border-radius: 2px;
    box-shadow: 0 2px 2px #ccc;
    color: #fff;
    text-decoration: none !important;
    padding: 15px 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

    a.button:hover {
        opacity: 0.9;
    }

.alarm-button {
    width: 44px;
    height: 42px;
    vertical-align: middle;
    margin-left: -6px;
    margin-right: -44px;
    display: inline-block;
    background: url('../img/alarm_btn.png');
    position: relative;
    z-index: 0;
    cursor: pointer;
}


/*右侧模块END*/
.footer {
    position: relative;
    z-index: 9;
    clear: both;
    padding: 40px 30px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    background-color: #393D49;
    border-top: 1px solid #eaeaea;
}

    .footer a {
        color: #fff;
    }

        .footer a:hover {
            color: #eaeaea;
        }

    .footer p {
        padding-top: 5px;
    }



/* article content ======================================================================================================== */
.details-content {    
    background-color: #fff;
    border: 1px solid #eaeaea;
}
.article-header{

	margin-bottom: 20px;

	padding: 25px 0;

	border-bottom: 1px solid #eee;

	text-align: center;

}

.article-title{margin-top: 0;font-size: 26px;line-height: 36px;}

.article-title a,

.article-title a:hover{

	color: #555;

	

}

.article-meta{

	font-size: 12px;

	color: #999;

}

.article-meta .item{

	margin-right: 20px;

}



.article-content{font-size:15px;line-height:25px;word-wrap:break-word;text-align:left;margin:25px;}

.article-content img{margin: 5px 0; display:block;max-width:75%;height:auto}

.article-content h2, .article-content h3, .article-content h4 .article-content h5{padding:10px 0;margin-bottom:18px;color: #555;font-weight:bold;}

.article-content h2{font-size:18px;font-weight:bold;margin:18px 0;border-bottom: 1px solid #eaeaea;}

.article-content h3{font-size:16px;}

.article-content h4{font-size:15px;}

.article-content h5{font-size:14px;}

.article-content ul, .article-content ol{margin:0 0 18px 50px}

.article-content ul{list-style: disc;}

.article-content ol{list-style: decimal;}

.article-content li{margin-bottom: 6px;}

.article-content p{margin-bottom:18px;word-wrap:break-word}

.article-content pre{word-wrap:break-word}

.article-content table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:18px}

.article-content table th{background-color:#f9f9f9;text-align:center}

.article-content table td,.article-content table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}

.article-content .alignnone{margin:0 auto;}

.article-content .alignleft{float:left;text-align:left;margin-right:10px}

.article-content .aligncenter{margin: 0 auto;text-align: center;display: block;}

.article-content .alignright{float:right;text-align:right;margin-left:10px}

.article-content .wp-caption{margin-bottom: 18px;background-color: #f6f6f6;padding: 10px 10px 1px;max-width: 100%}

.article-content .wp-caption img{margin: 0 0 5px;}

.article-content .wp-caption p{margin-bottom: 10px;text-indent: 0;}

.article-content .wp-caption.alignnone{text-align: center;}

.article-content .wp-caption:hover .wp-caption-text{color: #45B6F7;}

.article-content a{text-decoration:underline;color: #45B6F7;}

.article-content a:hover{color: #FF5E52;}



.article-content pre,.comment pre{margin:20px 0;font:12px/20px 'courier new';background:#272822;padding:10px 15px;color:#F8F8D4;border:none}

.article-content blockquote{margin: 30px 30px;padding: 15px 20px 1px;font-size: 16px;color: #999;border-left: 5px solid #EEE;}

.article-content blockquote p{margin:0;padding:0;margin-bottom: 10px;}



.p_indent .article-content p{text-indent: 30px;}



.post-copyright {

	background-color: #eee;

	padding-right: 30px;

	font-size: 12px;

	padding: 3px 0;

	border-radius: 3px;

	color: #aaa;

	text-align: center;

}

.article-content .post-copyright a, .post-copyright a:hover {

	color: #aaa;

	text-decoration: none;

}

.post-copyright:hover {

	background-color: #45B6F7;

	color: #fff;

}

.post-copyright:hover a {

	color: #fff;

}



.asb-post-footer b{font-weight:normal;color:#41C282}

.asb-post-footer strong{font-weight:normal;color:#FD6A5E}

.asb-post-footer a{text-decoration:none;border-bottom:solid 2px #eee;}

.asb-post-footer a:hover{border-bottom-color:#1FAEFF;}





.gallery .gallery-item{margin-bottom: 18px !important;margin-top: 0 !important;text-align: center !important;}

.gallery .gallery-item a{display: inline-block;}

.gallery .gallery-item img{border: none !important;margin:0 auto !important;}

.gallery .gallery-item dd{color: #999 !important;margin-top: 2px !important;}

.prettyprint,

pre.prettyprint {

    background-color: #272822;

    border: none;

    overflow: hidden;

    padding: 10px 15px;
}

.prettyprint.linenums,

pre.prettyprint.linenums {

	-webkit-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;

	-moz-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;

	box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;

}

.prettyprint.linenums ol,

pre.prettyprint.linenums ol {

    margin: 0 0 0 30px; 

}

.prettyprint.linenums ol li,

pre.prettyprint.linenums ol li {

    padding-left: 12px;

	color: #bebec5;

	line-height: 20px;

	margin-left: 0;

	list-style: decimal;

	margin-bottom: 0;

}

.prettyprint .com { color: #93a1a1; }

.prettyprint .lit { color: #AE81FF; }

.prettyprint .pun,

.prettyprint .opn, 

.prettyprint .clo { color: #F8F8F2; }

.prettyprint .fun { color: #dc322f; }

.prettyprint .str, 

.prettyprint .atv { color: #E6DB74; }

.prettyprint .kwd, 

.prettyprint .tag { color: #F92659; }

.prettyprint .typ, 

.prettyprint .atn, 

.prettyprint .dec, 

.prettyprint .var { color: #A6E22E; }

.prettyprint .pln { color: #66D9EF; }
