@{
    ViewBag.Title = "Index";
    ViewBag.nav = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<img src="http://res.bkcoding.com/img/banner.jpg" id="banner" width="100%" />

<section class="container">
    <blockquote class="layui-elem-quote layui-quote-notice">
        <i class="fa fa-volume-up" aria-hidden="true"></i> 
        <span> 新站正式发布上线啦！目前暂时只做了前台几个页面，其余的过后补上</span>
    </blockquote>
    <div class="content-wrap">
        <div class="content" id="note">
        </div>
        <div id="more" style="width:820px;"></div>
    </div>
    <aside class="sidebar">
        @Html.Action("Index", "Sidebar")
    </aside>

</section>
@section js{
    <script type="text/javascript">
        layui.config({
            base: '/res/js/'
        }).use('index');
    </script>
}