@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<img src="~/res/img/banner.jpg" id="banner" width="100%" />
<section class="container">
    <div class="content-wrap">
        <div class="content">
        </div>
        <div id="more" style="width:820px;"></div>
    </div>
    <aside class="sidebar">
        @Html.Action("Index", "Sidebar")
    </aside>

</section>
@section js{
    <script type="text/javascript">
        layui.config({
            base: '/res/js/'
        }).use('index');
    </script>
}